<div id="heraldHpPool" class="heraldHpPool">
  <div id="heraldHpPool-container" class="heraldHpPool-container">
    <div class="heraldHpPool-hpandbar">
      <div class="heraldHpPool-uphp">
        <div id="heraldHpPool-tokenname" class="heraldHpPool-tokenname"></div>
      </div>
      <div id="heraldHpPool-containerbar" class="heraldHpPool-containerbar">
        <div id="heraldHpPool-hpbg" class="heraldHpPool-hpbg">
          <div id="heraldHpPool-hpbar" class="heraldHpPool-hpbar"></div>
          <div id="heraldHpPool-bghpbar" class="heraldHpPool-bghpbar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
